.info{
		width:100%;
		position: relative;
		background-color: color(gray, dark);
		.info-content{
				@include margin-side($topbottom:38px);
				text-align: center;
				border-right: 1px solid rgba(196, 163, 123, 0.2);
				&:last-child{border-right:none;}
				.iconset{
						color: color(brown, light);;
						display:block;
						width:47px;
						height:48px;
						margin:0 auto;
						&.leather{font-size: font-size(leather, px);}
						&.water{font-size: font-size(water, px);}
						&.spring{font-size: font-size(spring, px);}
				}
				h2{
						margin-bottom:0px;
				}
				/*text-align: center;
				height:102px;
				width: 100%;
				&.border{border-right: 1px solid rgba(196, 163, 123, 0.2);
						&.border-none{border-right:none;}
				}
				.iconset{
						color: color(brown, light);;
						display:block;
						&.leather{font-size: font-size(leather, px);}
						&.water{font-size: font-size(water, px);}
						&.spring{font-size: font-size(spring, px);}
				}
				h2{
						margin:0;
						@include position(absolute, $bottom:0, $left:50%);
						transform: translate(-50%,0%);
				}*/
		}
}
@media (max-width: 48em) {
		.info{
				.info-content{
						border-right:none;
						@include padding-side(45px, 10px);
						margin:0;
						&:nth-child(1){
								border-right: 1px solid rgba(196, 163, 123, 0.2);
								border-bottom: 1px solid rgba(196, 163, 123, 0.2);
						}
						&:nth-child(2){
								border-bottom: 1px solid rgba(196, 163, 123, 0.2);
						}
						&:nth-child(3){
								border-right: 1px solid rgba(196, 163, 123, 0.2);
						}
				}
		}
}